version: "3"

# https://github.com/pi-hole/docker-pi-hole/blob/master/README.md
# remember to populate a .env file, cp from example.env

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    # For DHCP it is recommended to remove these ports and instead add: network_mode: "host"
    dns:
      - ${LOCAL_DNS}
      - ${DNS1}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      ServerIP: ${SERVER_IP}
      TZ: ${TIME_ZONE}
      # 'set a secure password here or it will be random'
      WEBPASSWORD: ${SECRET}
      DNS1: ${DNS1}
      DNS2: ${DNS2}
    # Volumes store your data between container upgrades
    volumes:
      - ${PIHOLE_BASE}/etc-pihole/:/etc/pihole/
      - ${PIHOLE_BASE}/etc-dnsmasq.d/:/etc/dnsmasq.d/
      # run `touch ./var-log/pihole.log` first unless you like errors
      # - './var-log/pihole.log:/var/log/pihole.log'
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
